* {
    box-sizing: border-box;
}

.form-wrapper {
    background-color: #f0f5f1;
    border-radius: 16px;
    padding: 8px 24px 24px;
}

.note-title {
    width: 70%;
    border-radius: 12px;
    border: 1px solid lightgray;
    line-height: 24px;
    margin-bottom: 24px;
}

.note-desc {
    width: 100%;
    border-radius: 12px;
    border: 1px solid lightgray;
    line-height: 24px;
    margin-bottom: 24px;
}

.create-btn {
    background-color: blue;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 4px 8px;
}

.form-field-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.error-msg {
    position: absolute;
    bottom: 0;
    color: red;
}
