.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 10px;
    .create-note, .notes, .chart {
        min-width: 280px !important;
        width: calc((100vw - 32px) / 3)
    }
}

@media only screen and (max-width: 600px) {
    .create-note, .notes, .chart {
        width: 100%;
    }
}
