<ng-container  *ngFor="let note of noteService.notes | objectValues | filterNotes: searchQuery">
    <div class="notes-container">
        <div class="note">
            <h3>{{ note.title }}</h3>
            <div class="btns-holder">
                <img class="icon"  
                    src="../../../assets/icons/delete.png"
                    width="16"
                    height="16"
                    (click)="deleteNote(note.id)"
                />
                <img class="icon" 
                    src="../../../assets/icons/pencil.png"
                    width="16"
                    height="16"
                    (click)="editingNoteId = note.id"
                />
            </div>
        </div>
        <p class="desc">{{ note.description }}</p>
    </div>
    <div *ngIf="editingNoteId === note.id" class="edit-note">
        <app-edit-note [note]="note" (submitEditEmitter)="editingNoteId = -1"></app-edit-note>
    </div>
</ng-container>
